.register
  .register-both
    .register-left
      = image_tag "logo-mercari.svg", class: "register-left-image"
    .register-right
      = image_tag "スクリーンショット 2019-06-30 14.14.44.png", class: "register-left-image2"
    .register-note
      .member-info
        %h1.member-info-h1 会員情報入力
      .note-register
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          %label.note-register-nickname ニックネーム
          .note-nickname
            %p.need 必須
            =f.text_field :nickname ,placeholder: "例) メルカリ太郎"
          .error_msg_nickname
            = error_nickname()
          %label.note-register-nickname メールアドレス
          .note-nickname
            %p.need 必須
            = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "PC・携帯どちらでも可"
          .error_msg_email
            = error_email()
          %label.note-register-nickname パスワード
          .note-nickname
            %p.need 必須
            = f.password_field :password, autocomplete: "new-password",placeholder: "例) 6文字以上"
          .error_msg_password
            = error_password()
          %label.note-register-nickname パスワード(確認)
          .note-nickname
            %p.need 必須
            = f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "例) 6文字以上"
          .error_msg_password_confirmation
            = error_password2()
          .check-sentense
            %h2.check-announce 本人確認
            %p.announce-sentense 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          %label.note-register-nickname 姓 (全角)
          .note-nickname
            %p.need 必須
            = f.text_field :last_name, placeholder: "例) 山田"
          .error_msg_last_name
            = error_last_name()
          %label.note-register-nickname 名 (全角)
          .note-nickname
            %p.need 必須
            = f.text_field :first_name,placeholder: "例) 綾"
          .error_msg_first_name
            = error_first_name()
          %label.note-register-nickname 姓カナ (全角)
          .note-nickname
            %p.need 必須
            = f.text_field :kana_last_name, placeholder: "例) ヤマダ"
          .error_msg_kana_last_name
            = error_kana_last_name()
          %label.note-register-nickname 名カナ (全角)
          .note-nickname
            %p.need 必須
            = f.text_field :kana_first_name,placeholder: "例) アヤ"
          .error_msg_kana_first_name
            = error_kana_first_name()
          %label.note-register-nickname 生年月日
          .note-nickname
            %p.need 必須
          .year-big-date
            .year-big-date-box
              = f.date_select :birth_date,use_month_numbers: true,start_year:1930, value: "--" 
            %p.attention-say ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            = image_tag "スクリーンショット 2019-07-02 14.10.32.png", class: "attention-say-image"
            %p.text-center 
              「次へ進む」のボタンを押すことにより、
              = link_to "https://www.mercari.com/jp/tos_list/", class: "text-center-say" do
                利用規約に同意したものとみなします
            .go-box
              = f.submit "次へ進む"
            .go-to-next
              = fa_icon "chevron-right", id: "go-to-right"
              = link_to "https://www.mercari.com/jp/help_center/article/423/", class: "go-to-next-link" do
                本人情報の登録について
            %ul.policy 
              =link_to "#", class: "register-policy" do
                プライバシーポリシー
              =link_to "#", class: "register-policy" do
                メルカリ利用規約
              =link_to "#", class: "register-policy" do
                特定商取引に関する表記
            .back-to-mercari
              = link_to root_path do
                = image_tag("logo-mercari3.svg")
            %p.back-to-mercari-messe © 2019 Mercari
            
            