- breadcrumb :mercari_new_card 
= render "layouts/breadcrumbs"
.pay-body 
  .pay7
    .pay-image-both
      .pay-image-left
        = image_tag "logo-mercari.svg", class:"pay-image-left-image"
      .pay-image-right
        = image_tag "スクリーンショット 2019-07-02 16.36.47.png", class: "pay-image-right-image"
    .pay-note
      .pay-note-set
        %p.pay-note-say2 支払い方法
      .pay-note-box
        .pay-card-number
          .pay-card-name
            %p.pay-card-name-say カード番号
            .pay-need-this-say
              %p.pay-need-this-say2 必須
          .pay-card-name
            %input.pay-card-input{placeholder: "半角英数字のみ"}
          .pay-card-name
            = image_tag "f6e624a62e69385c759a3b9b2959eaff.png", class: "pay-card-type-image-image"
        .pay-card-number 
          .pay-just-box
            %p.pay-card-name-say 有効期限
            .pay-card-this-say
              %p.pay-card-this-say2 必須
          .pay-just-for-select
            .pay-just-for-select-left
              %select#id_month.select-card-month{name: "month"}
              = fa_icon "chevron-down", class: "pay-chevron-down"
              %p.say-about-month 月
            .pay-just-for-select-right
              %select#id_year.select-card-month{name: "year"}
              = fa_icon "chevron-down", class: "pay-chevron-down"
              %p.say-about-year 年
        .pay-card-number
          .pay-card-name
            %p.pay-card-name-say セキュリティーコード
            .pay-need-this-say
              %p.pay-need-this-say2 必須
          .pay-card-name
            %input.pay-card-input{placeholder: "カード背面4桁もしくは3桁の番号"}
          %p.pay-card-attention カード裏面の番号とは?
          = fa_icon "question-circle", class:"question-circle"
          %button.pay-card-button
            = link_to "/users/finish", class: "pay-card-button-say" do
              次へ進む
      %ul.policy-pay
        = link_to "#", class: "pay-privacy" do
          プライバシーポリシー
        = link_to "#", class: "pay-privacy" do
          メルカリ利用規約
        = link_to "#", class: "pay-privacy" do
          特定商取引に関する表記
      .back-to-mercari-pay
        = link_to "#", class:"link-to-pay" do
          = image_tag "logo-mercari3.svg", class: "link-to-pay-image"
      %p.back-to-mercari-messe-pay © 2019 Mercari