= render "layouts/header"
.my-page-yo
  .mypage-both
    = render "layouts/sidebar"
    .add_card-right
      %p.card-left 支払い方法
      .card-left-middle
        .card-button-box
          %p.card-show-all クレジットカード一覧
          = link_to pay_card_index_path, class: "button-to-add-card" do
            %button.card-red-box クレジットカードを追加する
            = fa_icon "credit-card", class: "card-credit-card"
= render "layouts/banner"
= render "layouts/footer"

