= render "layouts/header"
.flame_profile_edit
  .profile_box__wrapper
    %section.profile_box
      %h2.profile_box__logo 
        プロフィール
          
      .profile_box__main 
        %from.profile_box__icon
          = image_tag "421878364.jpg"
        .ggg
          %input.profile_box__input
            = current_user.nickname

      .profile_box__textara
        %textarea.profile_box__textara2
      .profile_box__btn 
        %from.profile_box__btn2  登録する

    = render "layouts/sidebar"
= render "layouts/banner"
= render "layouts/footer"
