= render "layouts/header"
.flame_logout
  .logout-wrapper
    .box_main
      .box_main__sub
        - if user_signed_in?
          = link_to 'ログアウト', destroy_user_session_path,class:"logout-last", method: :delete 
    = render "layouts/sidebar"
= render "layouts/banner"
= render "layouts/footer"