= render "layouts/header"
- breadcrumb :mercari_mypage
= render "layouts/breadcrumbs"
.my-page-yo
  .mypage-both
    = render "layouts/sidebar"
    .mypage-right
      .mypage-right-box-top
        .mypage-right-box-top-image
          = image_tag "member_photo_noimage_thumb.png", class: "my-icon-image"
          %p.fsa 
            = current_user.nickname
          .my-lock
            %p.rate-me
              評価  0
            %p.amount
              出品数  0
      .mypage-right-box-bottom
        .mypage-right-top-box
          %p.mypage-right-top-box-doing#practice お知らせ
          %p.mypage-right-top-box-doing#play やることリスト
        .mypage-right-middle-box
          .news-box
            .image-mypage
              = image_tag "スクリーンショット 2019-07-05 10.46.12.png", class: "image-mypage-image"
            .include-some-in-box
              %p.say-for-random 事務局からの個別メッセージ 『 ログイン通知』
              = fa_icon "clock-o", class: "clock-o-mypage"
              %p.say-arrive-thing 22分前
            = fa_icon "chevron-right", class: "chevron-right-mypage"
          .news-box
            .image-mypage
              = image_tag "スクリーンショット 2019-07-05 10.46.12.png", class: "image-mypage-image"
            .include-some-in-box
              %p.say-for-random 事務局からの個別メッセージ 『 ログイン通知』
              = fa_icon "clock-o", class: "clock-o-mypage"
              %p.say-arrive-thing 22分前
            = fa_icon "chevron-right", class: "chevron-right-mypage"
          .news-box
            .image-mypage
              = image_tag "スクリーンショット 2019-07-05 10.46.12.png", class: "image-mypage-image"
            .include-some-in-box
              %p.say-for-random 事務局からの個別メッセージ 『 ログイン通知』
              = fa_icon "clock-o", class: "clock-o-mypage"
              %p.say-arrive-thing 22分前
            = fa_icon "chevron-right", class: "chevron-right-mypage"
          .news-box2
            .image-mypage
              = image_tag "スクリーンショット 2019-07-05 10.46.12.png", class: "image-mypage-image"
            .include-some-in-box
              %p.say-for-random Js使えてるよ！
              = fa_icon "clock-o", class: "clock-o-mypage"
              %p.say-arrive-thing その調子！
            = fa_icon "chevron-right", class: "chevron-right-mypage"
            %p.delete 削除
          .news-box2
            .image-mypage
              = image_tag "スクリーンショット 2019-07-05 10.46.12.png", class: "image-mypage-image"
            .include-some-in-box
              %p.say-for-random Js動いてる！
              = fa_icon "clock-o", class: "clock-o-mypage"
              %p.say-arrive-thing あと一歩！
            = fa_icon "chevron-right", class: "chevron-right-mypage"
            %p.delete 削除
          .new-box-show-all
            %p.show-all-box-say 一覧を見る
            = fa_icon "bitcoin", class: "bitcoin"
        .mypage-right-bottom-box
          %p.mypage-bottom-top 購入した商品
          .mypage-bottom-bottom-top
            %p.which-both 取引中の商品 
            %p.which-both  取引済の商品 
          .mypage-say-attention-image
            = image_tag "logo-mercari2.svg", class: "show-space"
          %p.say-not-products-here 取引中の商品がありません
= render "layouts/banner"
= render "layouts/footer"
    
