.start
  .start-first
    = image_tag "logo-mercari.svg", class: "start-first-image"
  .start-second
    .start-select-say
      %h1.start-say 新規会員登録
    %ul.start-select-box
      %button.start-select-mail メールアドレスで登録する
      = fa_icon "envelope-o", class: "envelope-o"
      %button.start-select-face FaceBookで登録する
      = fa_icon "facebook-official", class: "facebook-official"
      %button.start-select-gogo Googleで登録する
      = image_tag "スクリーンショット 2019-06-30 17.07.34.png", class: "start-select-gogo-image"
    %ul.policy 
      = link_to "https://www.mercari.com/jp/privacy/", class: "policy-start" do
        プライバシーポリシー
      = link_to "https://www.mercari.com/jp/tos/", class: "policy-start" do
        メルカリ利用規約
      = link_to "https://www.mercari.com/jp/tokutei/", class: "policy-start" do
        特定商取引に関する表記
    .back-to-mercari
      = link_to "https://www.mercari.com/jp/" do
        = image_tag "logo-mercari3.svg", class: "back-to-mercari-start"
    %p.back-to-mercari-messe © 2019 Mercari
