-if user_signed_in?
  = render 'layouts/header'
- else
  = render 'layouts/unsignIn.header'
.top-page-wrapper
  .camp-img
    = image_tag 'banner-camp.jpg',class:"top-slide"
  .top-page-product
    .top-page-category
      %h2.pickup-category
        ピックアップカテゴリー
      .text-center
        = link_to "/",class:"new-item" do
          レディース新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              = link_to product_path(product) do
                =image_tag image ,size:"213x213"
                .item-text-box
                  %h3.item-name
                    = product.name
                  .item-price-top
                    .price-mark
                      ¥
                    = product.price
      .top-item-show-more
        = link_to"/",class:"item-show-more" do
          すべての商品を見る
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          メンズ新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price
      .top-item-show-more
        = link_to"/",class:"item-show-more" do
          すべての商品を見る
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          ベビー・キッズ 新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price
      .top-item-show-more
        = link_to"/",class:"item-show-more" do
          すべての商品を見る
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          コスメ・香水・美容 新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price
      .top-item-show-more
        = link_to"/",class:"item-show-more" do
          すべての商品を見る
      .clear
      .pickup-container
        %h2.pickup-brand
          ピックアップブランド
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          シャネル 新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price
      .top-item-show-more
        = link_to"/",class:"item-show-more" do
          すべての商品を見る
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          ルイ・ヴィトン 新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          シュプリーム 新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price
      .clear
      .text-center-mens
        = link_to "/",class:"text-center-mens-a" do
          ナイキ 新着アイテム
      .category-items
        - @products.each do |product|
          - product.images.each do |image|
            .category-item
              =image_tag image ,size:"213x213"
              .item-text-box
                %h3.item-name
                  = product.name
                .item-price-top
                  .price-mark
                    ¥
                  = product.price

= render "layouts/banner"
=render "layouts/footer"