%body
  .flame
    .profile_box__wrapper
      %section.profile_box
        %h2.profile_box__logo 
          プロフィール
            
        .profile_box__main 
          %from.profile_box__icon
            = image_tag "421878364.jpg"
          %input.profile_box__input

        .profile_box__textara
          %textarea.profile_box__textara2
        .profile_box__btn 
          %from.profile_box__btn2  登録する

      .lists    
        .box_list
          .box_list__sub
          マイページ
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          お知らせ
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          やることリスト
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          いいね！一覧
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          出品する
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          出品した商品-出品中
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          出品した商品-取引中
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          出品した商品-売却済み
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          購入した商品-取引中
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          購入した商品-過去の取引
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          ニュース一覧
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          評価一覧
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          ガイド
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          お問い合わせ
          = fa_icon "chevron-right", id: "iii"
        .nav
          %h3
            メルペイ  
        .box_list
          .box_list__sub
          残高・振込申請
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          ポイント
          = fa_icon "chevron-right", id: "iii"
        .nav
          %h3
            設定 
        .box_list
          .box_list__sub
          プロフィール
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          発送元・お届け先住所変更
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          支払い方法
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          メール/パスワード
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          本人情報
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          電話番号の確認
          = fa_icon "chevron-right", id: "iii"
        .box_list
          .box_list__sub
          ログアウト
          = fa_icon "chevron-right", id: "iii"
