%body
  .l_side
    %nav.mypage-nav
      %ul.mypage-nav__list
       
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/"}
            
            マイページ
            = fa_icon "chevron-right", id: "iii"
        
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/notification/"}
            お知らせ
            %span.mypage-nav__number
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/todo/"}
            やることリスト
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/like/history/"}
            いいね一覧
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/sell/"}
            出品する
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/listings/listing/"}
            出品した商品-出品中
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/listings/in_progress/"}
            出品した商品-取引中
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/listings/completed/"}
            出品した商品-売却済み
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/purchase/"}
            購入した商品-取引中
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/purchased/"}
            購入した商品-過去の取引
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/news/"}
            ニュース一覧
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/review/history/"}
            評価一覧
            = fa_icon "chevron-right", id: "iii" 
        %li
          %a.mypage-nav__list_item{:href => "/jp/help_center/"}
            ガイド
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/support/"}
            お問い合わせ
            = fa_icon "chevron-right", id: "iii"
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav__list
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/sales/"}
            残高・振込申請
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/point/"}
            ポイント
            = fa_icon "chevron-right", id: "iii"
      %h3.mypage-nav-head 設定
      %ul.mypage-nav__list
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/profile/"}
            プロフィール
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/deliver_address/"}
            発送元・お届け先住所変更
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/card/"}
            支払い方法
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/email_password/"}
            メール/パスワード
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/identification/"}
            本人情報
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__list_item{:href => "/jp/mypage/sms_confirmation/"}
            電話番号の確認
            = fa_icon "chevron-right", id: "iii"
        %li
          %a.mypage-nav__listitem{:href => "/jp/logout/"}
            ログアウト
            = fa_icon "chevron-right", id: "iii"