%body
  .flame_box
    .content_box__wrapper
      .content_box__mercari-icon
        =link_to("https://www.mercari.com/jp/") do
          =image_tag "logo.svg",size:"185x49",class:'content_box__mercari-icon'

      %section.content_box
        %h2.header_logo
          商品の情報を入力
        .content_upload
          %h3.content_upload__logo 
            出品画像
            %span.header_icon__logo
              必須	
          %p.content_upload__logo--sub
            最大10枚までアップロードできます
          %h3.content_upload__logo--sub--item
            ドラッグアンドドロップ
            %br
            またはクリックしてファイルをアップロード
        .product_name
          %h4.product_name__item
            商品名
            %span.icon__logo
              必須	
          %input.product_name__contents{:placeholder => "商品名（必須 40文字まで)", :value => ""}/
          %h4.product_name__item--sub
            商品の説明
            %span.icon__logo
              必須
          %textarea.product_name__contents--sub{:placeholder => "商品の説明名（必須 1,000文字以内) (色、素材、重さ、定価、注意点など）例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :value => ""}	          
        .product_Details
          %h4.product_Details__item
            商品の詳細
          .product_Details__main
            %h4.product_Details__item--sub
              カテゴリー
              %span.icon__logo
                必須        
            %select.product_Details__contents
            = fa_icon "angle-down", id: "Details_angle-down"
            %h4.product_Details__item--sub
              商品の状態            
              %span.icon__logo
                必須
            %select.product_Details__contents
            = fa_icon "angle-down", id: "Details_angle-down2"
        .delivery_box
          %h4.delivery_box__item
            配送について
            = fa_icon "question-circle", id: "delivery_question"
          .delivery_box__main
            %h4.delivery_box__item--sub
              配送料の負担
              %span.icon__logo
                必須	
            %select.delivery_box__contents
            = fa_icon "angle-down", id: "delivery_box_angle-down"
            %h4.delivery_box__item--sub
              発送元の地域
              %span.icon__logo
                必須
            %select.delivery_box__contents
            = fa_icon "angle-down", id: "delivery_box_angle-down2"
            %h4.delivery_box__item--sub
              発送までの日数
              %span.icon__logo
                必須	
            %select.delivery_box__contents
            = fa_icon "angle-down", id: "delivery_box_angle-down3"

        .selling_price
          %h4.selling_price__item
            販売価格(300〜9,999,999)
            = fa_icon "question-circle", id: "selling_question"
          .selling_price__price
            %h4.selling_price__price--sub
              価格
              %span.icon__logo 必須
              %h4.selling_price__item--enn 
                ¥
                %select.selling_price__contents--sub
                = fa_icon "angle-down", id: "selling_price_angle-down"
            
            .selling_price__item--fee 
              %h4.selling_price__item--fee--sub
                販売手数料 (10%)
            .selling_price__profit
              %h4.selling_price__profit--sub
                販売利益

        .sell_btn_box
          .sell_btn_box__text
            %p 
              %span 禁止されている出品
              、
              %span 行為
              を必ずご確認ください。
              %br
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %span 偽ブランドの販売
              は犯罪で
              %br
              あり処罰される可能性があります。また、出品をもちまして
              %span 加盟店規約
              に同意したことになります。

          .exhibition_box
            .exhibition_box__btn
              出品する
            .exhibition_box__btn--return
              もどる
        .content_bottom
          %ul.content_bottom__list
            = link_to "https://www.mercari.com/jp/privacy/", class: "list_privacy" do
              プライバシーポリシー
            = link_to "https://www.mercari.com/jp/tos/", class: "list__terms" do
              メルカリ利用規約
            = link_to "https://www.mercari.com/jp/tokutei/", class: "list_notation" do
              特定商取引に関する表記
          .back-image-mercari
            = link_to("https://www.mercari.com/jp/") do
              = image_tag "logo-mercari3.svg", class:"back-image-mercari"
            %p.back-image-mercari__message © 2019 Mercari