-if user_signed_in?
  = render 'layouts/header'
  - breadcrumb :mercari_show 
  = render "layouts/breadcrumbs"
- else
  = render 'layouts/unsignIn.header'
.products-show-wrapper
  .products-show-main
    .products-name
      = @product.name
    - @product.images.first(1).each do|image|
      .products-images-photo
        - if @product.buyer_id.blank?
          - @product.images.first(1).each do |image|
            = image_tag image,size:"300x300",class: "top-products-img"
            -# =image_tag image ,size:"324x324"
        - else
          - @product.images.first(1).each do |image|
            =image_tag image ,size:"324x324"
            .try-bought
              %p.this-bought SOLD
        .products
          - @product.images.each do|i|
            = image_tag i,size:"60x60", class: "products-images"
    .products-details
      .products-detail
        .products-width
          .product-width
            .product-detail-show.seller
              出品者
            .product-detail-show-txt
              = @user.nickname
              %i.fa.fa-smile-o.fa-lg
                %p.favo-count
                  218
              %i.fa.fa-meh-o.fa-lg
                %p.favo-count
                  0
              %i.fa.fa-frown-o.fa-lg
                %p.favo-count
                  0
          .product-width
            .product-detail-show.category
              カテゴリー
            .product-detail-show-txt
              = @category.category_name
        .products-narrow
          .product-narrow
            .product-narrow-show-detail
              ブランド
            .product-narrow-show-detail-txt.link-color
              アップル
          .product-narrow
            .product-narrow-show-detail
              商品の状態
            .product-narrow-show-detail-txt
              = @product.condition
          .product-narrow
            .product-narrow-show-detail
              配送料の負担
            .product-narrow-show-detail-txt
              = @product.charge
          .product-narrow
            .product-narrow-show-detail
              配送の方法
            .product-narrow-show-detail-txt
              らくらくメルカリ便
          .product-narrow
            .product-narrow-show-detail
              配送元地域
            .product-narrow-show-detail-txt.link-color
              = @product.place
          .product-narrow
            .product-narrow-show-detail
              発送日の目安
            .product-narrow-show-detail-txt
              =@product.limit
    .clear
    .products-price-box
      .products-price
        = @product.price
      .products-tax
        円 (税込)
      .send-fee
        送料込み
    .clear
      - if @product.buyer_id.blank?
        = link_to product_purchase_index_path(@product), class: "product-show-buy-btn" do
          購入画面に進む
      - else
        .product-show-buy-btn 売り切れました
    .products-description
      = @product.text
    .products-company-policy
      .products-good-btn
        .products-good-btn-txt
          %i.fa.fa-heart-o
          %p.good-txt
            いいね！ 35
      .products-bad-btn
        .products-bad-btn-txt
          %i.fa.fa-flag-o
          %p.bad-txt
            不適切な商品の報告
    .safety
      .safety-box
        %i.fa.fa-lock
        %p.safety-txt
          あんしん・あんぜんへの取り組み
  .products-show-comment
    .comment-box
      .icon-redius
        = image_tag 'user-icon (2).svg',size:"32x32",class:"comment-icon"
      .comment-name
        山田
      .commment-text-box 
        %p 
          aaaaaaaaaaaaaa<br>aaaaaaaaaa
        %i.fa.fa-clock-o
        %p.day-text
          ２日前
    .comment-box
      .icon-redius
        = image_tag 'user-icon (2).svg',size:"32x32",class:"comment-icon"
      .comment-name
        山田
      .commment-text-box  
        %p 
          aaaaaaaaaaaaaa<br>aaaaaaaaaa
        %i.fa.fa-clock-o
        %p.day-text
          ２日前
    .anounce-txt-box
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分とな<br>ることがあります。
    %textarea.commnet-area
    .send-btn
      コメントする
  .nav-link
    .nav-link-before
      < Ｃ♥️ ビジュー リボン ヘアゴム
    .nav-link-after
      時計型 メンズブレスレット クロス十字架) > <br>ゴム製ベルト黒×シルバーパーツ
  .clear
  .sns-main
    .products-sns-btn
      .sns-icon
        %i.fa.fa-facebook-official.fa-2x
      .sns-icon.twitter
        %i.fa.fa-twitter.fa-2x
      .sns-icon.pinterest
        %i.fa.fa-pinterest.fa-2x
  %p.seller-another-label
    山田さんのその他の出品
  .seller-another-poducts
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
  .seller-another-poducts.second-line-products
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
  .seller-another-label
    腕時計(デジタル) （メンズ） その他の商品
  .seller-another-poducts
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
  .seller-another-poducts.second-line-products
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
    .seller-another-poduct
      =image_tag "phpTshat.png",size:"220x220",class:'another-product'
      .another-item-text-box
        %h3.another-item-name
          PHPシャツ
        .another-item-price-top
          ¥1,100
=render "layouts/banner"
=render "layouts/footer"